{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "plugins": ["@prettier/plugin-xml", "prettier-plugin-organize-attributes"],
  "attributeSort": "ASC"
}
